.formulario {
    display: grid;
    grid-template-columns: 10rem 10rem;
    gap: 10px;
}

.formulario_input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;    
}

.formulario_mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario_incorrecto {
    color: red;
}

.formulario_correcto {
    color: green;
    background-color: rgb(171, 222, 223);
}

.mostrar_mensaje_error {
    display: block;
}

.ocultar_mensaje_error {
    display: none;
}